<div id="pd">
    <h3>Sring Pipes</h3>
    <p>
        {{str}} <br />
        {{str|lowercase}} <br />
        {{str|uppercase}} <br />
        {{str|titlecase}} 
    </p>

    <h3>Number Pipes</h3>
    <p>
        {{num}} <br />
        {{num|number:'5.0-0'}} <br />
        {{num|number:'3.2-2'}} <br />
        {{num|number:'3.2-6'}} 
    </p>

    <h3>Custom Pipes</h3>
    <p>
        {{num}} <br />
        {{num|verbal}}
    </p>

    <h3>Currency Pipes</h3>
    <p>
        {{num}} <br />
        {{num|currency:'INR'}} <br />
        {{num|currency:'USD'}} <br />
        {{num|currency:'GBP'}} <br />
        {{num|currency:'JPY'}} <br />
        {{num|currency:'XYZ'}} 
    </p>

    <h3>Date Pipes</h3>
    <p>
        {{today}} <br />
        {{today|date:'short'}} <br />
        {{today|date:'long'}} <br />
        {{today|date:'dd-MM-yy'}} <br />
        {{today|date:'dd-MMM-yyyy'}} <br />
        {{today|date:'dd-MMMM-yyyy'}} <br />
        {{today|date:'dd-MM-yy hh:mm:ss a'}} <br />
        {{today|date:'dd-MM-yy HH:mm:ss'}} <br />  
    </p>
</div>