<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">{{banner}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngFor="let link of links">
                    <a class="nav-link" [routerLink]="link[0]" routerLiinkActive="active">{{link[1]}}</a>
                </li>
                <li class="nav-item" *ngIf="showLogout">
                    <a class="nav-link" [routerLink]="" (click)="logoutBtnClicked()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>