<h3>Users List</h3>

<app-msg-box *ngIf="!errMsg && !users">
    <strong>Please wati while Loading Data..</strong>
</app-msg-box>

<app-msg-box *ngIf="errMsg" type="error">
    <strong>{{errMsg}}</strong>
</app-msg-box>

<div *ngIf="users && users.length===0">
    <app-msg-box>
        <strong>No Records To Display</strong>
    </app-msg-box>
</div>

<table class="table table-bordered table-striped table-hover" *ngIf="users && users.length>0">
    <thead>
        <tr>
            <th>User#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.fullName}}</td>
            <td>{{u.email}}</td>
            <td>{{u.role}}</td>
        </tr>
    </tbody>
</table>