<router-outlet></router-outlet>

<!--
  SPA - index.html
          | -body
              |- <app-root></app-root>    app.component
                        |- <router-outlet></router-outlet>
                                    |
             -----------------------------------------------------------
            |(/login)         | (/register)          | (/user)        | (/txn)
        login.component registration.component    user.component   txn.component
                                                                          |
                                                          <router-outlet></router-outlet>
                                                                          |
                                                                -------------------------
                                                                | (/txn/list)     | (/txn/new) (/txn/edit)
                                                          txns-list.component   txn-form.component                
-->